<section class="fxg-trade-news">
    <div class="fxg-container">
        <div class="fxg-compact-row">
            <div class="fxg-compact-row__image">
                <img src="images/4.jpg" alt="Stay on top of tariffs and trade news">
            </div>
            <div class="fxg-compact-row__content">
                <h4>Stay on top of tariffs and trade news</h4>
                <p>Find helpful tools for international shipping. Stay informed about global clearance requirements, including the IEEPA tariff refund process, changes to U.S. CPSC eFiling, and the elimination of the EU de minimis threshold.</p>
                <a href="#" class="cc-aem-c-button cc-aem-c-button--primary">NAVIGATE GLOBAL SHIPPING</a>
            </div>
        </div>
    </div>
</section>