<section class="fxg-business">
    <div class="fxg-container">
        <h2 class="fxg-cards__title">Shipping that moves your business forward</h2>
        <div class="fxg-compact-row">
            <div class="fxg-compact-row__image">
                <img src="images/5.jpg" alt="Increase productivity with every package">
            </div>
            <div class="fxg-compact-row__content">
                <h4>Increase productivity with every package</h4>
                <p>Simplify daily shipping tasks with automated FedEx tools and integrations. They&rsquo;ll help you save time and improve efficiency.</p>
                <a href="#" class="fxg-link">MANAGE DELIVERIES</a>
            </div>
        </div>
        <div class="fxg-compact-row">
            <div class="fxg-compact-row__image">
                <img src="images/6.jpg" alt="Go far with end-to-end freight support">
            </div>
            <div class="fxg-compact-row__content">
                <h4>Go far with end-to-end freight support</h4>
                <p>Reach customers in 130+ international destinations with FedEx Global Air Freight. And count on customs clearance expertise and end-to-end visibility.</p>
                <a href="#" class="fxg-link">SHIP AIR FREIGHT</a>
            </div>
        </div>
        <div class="fxg-compact-row">
            <div class="fxg-compact-row__image">
                <img src="images/7.jpg" alt="Unlocking added value is easy">
            </div>
            <div class="fxg-compact-row__content">
                <h4>Unlocking added value is easy</h4>
                <p>With FedEx Rewards, you earn perks for the shipping you do. And you&rsquo;ll get a $10 gift card for your first eligible shipment.* Start by opening a FedEx account.</p>
                <a href="#" class="fxg-link">OPEN A FREE ACCOUNT</a>
            </div>
        </div>
    </div>
</section>