<section class="fxg-hero">
    <div class="fxg-hero__image">
        <picture>
            <source media="(max-width: 767px)" srcset="images/December_AEMMobileHero_320x210.jpg">
            <img src="images/December_AEMHero_1366x477.jpg" alt="FedEx Holiday Delivery">
        </picture>
    </div>
    <div class="fxg-hero__overlay"></div>
    <div class="fxg-hero__content">
        <div class="fxg-hero__header">
            <h1>Ship, manage, track, deliver</h1>
        </div>
    </div>
</section>