<section class="fxg-cards">
    <div class="fxg-container">
        <div class="fxg-cards__grid">
            <div class="fxg-card">
                <div class="fxg-card__image">
                    <img src="images/POD_ShippingDeadlines_727x463.jpg" alt="Know your last days to ship">
                </div>
                <div class="fxg-card__body">
                    <h5>Know your last days to ship</h5>
                    <p>Don't let deadlines steal your cheer. Keep track of shipping cutoff dates and make the holidays happy for everyone on your list.</p>
                    <a href="https://www.fedex.com/en-us/holiday/last-days-to-ship.html" class="fxg-link">See shipping deadlines</a>
                </div>
            </div>
            <div class="fxg-card">
                <div class="fxg-card__image">
                    <img src="images/POD_DeliverySupport_727x463.jpg" alt="Get delivery support">
                </div>
                <div class="fxg-card__body">
                    <h5>Get delivery support when you need it</h5>
                    <p>Need help with a shipment? Our delivery support team is here to assist you every step of the way.</p>
                    <a href="https://www.fedex.com/en-us/delivery-support.html" class="fxg-link">Delivery Support</a>
                </div>
            </div>
            <div class="fxg-card">
                <div class="fxg-card__image">
                    <img src="images/POD_FedExApp_727x463.jpg" alt="FedEx Mobile App">
                </div>
                <div class="fxg-card__body">
                    <h5>Tap into convenient tracking</h5>
                    <p>Keep tabs on holiday shipments with the FedEx Mobile app and FedEx Delivery Manager. Track packages and get alerts right on your phone.</p>
                    <a href="https://www.fedex.com/en-us/shipping/mobile.html" class="fxg-link">Download the app</a>
                </div>
            </div>
            <div class="fxg-card">
                <div class="fxg-card__image">
                    <img src="images/POD_RequestHold_727x463.jpg" alt="Pick up on your schedule">
                </div>
                <div class="fxg-card__body">
                    <h5>Pick up on your schedule</h5>
                    <p>Busy with last-minute shopping or holiday travel? Hold your packages at a secure retail location and get them when you're ready.</p>
                    <a href="https://www.fedex.com/en-us/shipping/hold-at-location.html" class="fxg-link">Request a hold</a>
                </div>
            </div>
        </div>
    </div>
</section>