<section class="fxg-quicklinks">
    <div class="fxg-container">
        <div class="fxg-quicklinks__grid">
            <a href="https://www.fedex.com/en-us/shipping/hold-at-location.html" class="fxg-quicklink">
                <div class="fxg-quicklink__icon"><img src="images/icon_courier_purple_lg_1637809911.png" alt=""></div>
                <span class="fxg-quicklink__label">hold for pickup</span>
            </a>
            <a href="https://www.fedex.com/en-us/shipping/returns.html" class="fxg-quicklink">
                <div class="fxg-quicklink__icon"><img src="images/icon_returns_purple_lg_1184917500.png" alt=""></div>
                <span class="fxg-quicklink__label">return a package</span>
            </a>
            <a href="https://www.fedex.com/en-us/shipping/schedule-manage-pickups.html" class="fxg-quicklink">
                <div class="fxg-quicklink__icon"><img src="images/icon_courier_purple_lg_1637809911.png" alt=""></div>
                <span class="fxg-quicklink__label">schedule a pickup</span>
            </a>
            <a href="https://www.fedex.com/en-us/shipping/email-alerts.html" class="fxg-quicklink">
                <div class="fxg-quicklink__icon"><img src="images/icon_alert_purple_lg.png" alt=""></div>
                <span class="fxg-quicklink__label">get shipping alerts</span>
            </a>
            <a href="https://www.fedex.com/en-us/shipping/returns.html" class="fxg-quicklink">
                <div class="fxg-quicklink__icon"><img src="images/icon_returns_purple_lg_1184917500.png" alt=""></div>
                <span class="fxg-quicklink__label">manage a return</span>
            </a>
            <a href="https://www.fedex.com/en-us/delivery-support.html" class="fxg-quicklink">
                <div class="fxg-quicklink__icon"><img src="images/icon_delivery_purple_lg_2143296207.png" alt=""></div>
                <span class="fxg-quicklink__label">get delivery support</span>
            </a>
        </div>
    </div>
</section>