<section class="fxg-legal-notices">
    <div class="fxg-container">
        <div class="fxg-legal-notices__item">
            <span class="fxg-legal-notices__title">FedEx rate and surcharge changes</span>
            <span class="fxg-legal-notices__date">Last updated 12/12/2025</span>
            <a href="https://www.fedex.com/en-us/shipping/rate-changes.html" class="fxg-link">Learn more</a>
        </div>
        <div class="fxg-legal-notices__item">
            <span class="fxg-legal-notices__title">FedEx money-back guarantee</span>
            <a href="https://www.fedex.com/en-us/service-guide/money-back-guarantee.html" class="fxg-link">Learn more</a>
        </div>
        <div class="fxg-legal-notices__item">
            <span class="fxg-legal-notices__title">FedEx Rewards</span>
            <span class="fxg-legal-notices__text">See terms and conditions for FedEx Rewards.</span>
            <a href="https://www.fedex.com/en-us/rewards/termsandconditions.html" class="fxg-link">Learn more</a>
        </div>
    </div>
</section>