<section class="fxg-featured">
    <div class="fxg-container">
        <div class="fxg-featured__offer">
            <div class="fxg-featured__content">
                <h4>Know your last days to ship</h4>
                <p>Don't let deadlines steal your cheer. Keep track of shipping cutoff dates and make the holidays happy for everyone on your list.</p>
                <a href="https://www.fedex.com/en-us/holiday/last-days-to-ship.html" class="cc-aem-c-button cc-aem-c-button--primary">See shipping deadlines</a>
            </div>
            <div class="fxg-featured__image">
                <img src="images/POD_ShippingDeadlines_727x463.jpg" alt="Know your last days to ship">
            </div>
        </div>
        <div class="fxg-featured__offer">
            <div class="fxg-featured__content">
                <h4>The world of trade is always changing</h4>
                <p>The world of trade is always changing—but you don't have to navigate it alone. FedEx gives you the tools and guidance you need to ship with confidence.</p>
                <a href="https://www.fedex.com/en-us/shipping/international/us-tariffs-impact.html" class="cc-aem-c-button cc-aem-c-button--primary">Understand tariffs</a>
            </div>
            <div class="fxg-featured__image">
                <img src="images/POD_Tariffs_Dec_727x463.jpg" alt="Understand tariffs">
            </div>
        </div>
        <div class="fxg-featured__offer">
            <div class="fxg-featured__content">
                <h4>Wrap up the year with perks</h4>
                <p>Wrap up the year with perks that pay off. Join FedEx Rewards to earn name-brand gift cards for the packages you send every day.</p>
                <a href="https://www.fedex.com/en-us/rewards.html" class="cc-aem-c-button cc-aem-c-button--primary">Open a free account</a>
            </div>
            <div class="fxg-featured__image">
                <img src="images/POD_Rewards_Dec_727x463.jpg" alt="FedEx Rewards">
            </div>
        </div>
    </div>
</section>